@font-face {
  font-family: "Editech";
  src: url("../fonts/EditechRegular.eot");
  src: url("../fonts/EditechRegular.eot") format("embedded-opentype"), url("../fonts/EditechRegular.woff2") format("woff2"), url("../fonts/EditechRegular.woff") format("woff"),
    url("../fonts/EditechRegular.ttf") format("truetype"), url("../fonts/EditechRegular.svg#EditechRegular") format("svg");
}

@font-face {
  font-family: "Editech";
  src: url("../fonts/EditechBold.eot");
  src: url("../fonts/EditechBold.eot") format("embedded-opentype"), url("../fonts/EditechBold.woff2") format("woff2"), url("../fonts/EditechBold.woff") format("woff"),
    url("../fonts/EditechBold.ttf") format("truetype"), url("../fonts/EditechBold.svg#EditechBold") format("svg");
  font-weight: 600;
}
